<h1>{{global.contact.name}}</h1>

<h2>Entwickler aus Leidenschaft</h2>

<p>Seit mehr als 10 Jahre bin ich nun als Entwickler im Bereich Web / E-Commerce / Individualprogrammierung
  tätig und konnte einiges an Erfahrung in den unterschiedlichsten Bereichen sammeln.
  Selbst komplexe und verteilte IT-Systeme sind kein Neuland für mich - meine Expertise hiermit konnte ich
  bereits bei namhaften Unternehmen unter Beweis stellen.</p>

<p>Wenn Sie Unterstützung im Projektgeschäft benötigen, oder Beratung / Coaching Ihrer Entwickler wünschen,
  stehe ich Ihnen gerne per Mail unter <a href="mailto:{{global.contact.email}}">{{global.contact.email}}</a> zur
  Verfügung. Ich freue mich von Ihnen zu hören und werde mich schnellstmöglich mit Ihnen in Verbindung setzen
  um alle weiteren Details persönlich zu besprechen.</p>

<div class="skills">
  <ul>
    {{#each global.skills}}
    <li>
      <span class="primary label">{{title}}</span>
    </li>
    {{/each}}
  </ul>
</div>
