/*
 * Base structure
 */

html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    letter-spacing: .05rem;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: .1rem;
    text-transform: uppercase;
    margin-bottom: .5em;
    font-size: 2rem;
}

.btn {
    text-transform: uppercase;
    font-weight: $btn-font-weight;
}

p {
    font-weight: lighter;

    &.lead {
        margin-bottom: 1.5em;
        font-weight: lighter;
    }
}

@include media-breakpoint-up(lg) {
    h1, .h1 { @include font-size($h1-font-size); }
    h2, .h2 { @include font-size($h2-font-size); }
    h3, .h3 { @include font-size($h3-font-size); }
    h4, .h4 { @include font-size($h4-font-size); }
    h5, .h5 { @include font-size($h5-font-size); }
    h6, .h6 { @include font-size($h6-font-size); }
}
