$contact-teaser-gutter: 15px !default;
$contact-teaser-image-width: 350px !default;
$contact-teaser-twitter-color: #1da1f2 !default;
$contact-teaser-xing-color: #009090 !default;
$contact-teaser-email-color: #F43638 !default;

.contact-teaser {
  padding-left: $contact-teaser-gutter;
  padding-right: $contact-teaser-gutter;

  &__image {
    text-align: center;
    margin-bottom: $contact-teaser-gutter * 2;

    img {
      border-radius: 50%;
      width: 100%;
      height: auto;
      max-width: $contact-teaser-image-width;
    }
  }

  &__name {
    h1 {
      margin: 0;
      text-align: center;
      font-size: 2em;
    }
  }

  &__function {
    margin-bottom: $contact-teaser-gutter * 2;

    .lead {
      margin: 0;
      text-align: center;
    }
  }

  &__links {
    text-align: center;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: block;
    }
  }

  &__link {
    display: inline-block;
    margin-right: $contact-teaser-gutter;
    margin-bottom: $contact-teaser-gutter;
    color: white;

    &:last-child {
      margin-right: 0;
    }

    a {
      margin: 0;
      border-radius: 50%;
      padding: (0.85em / 2) (1em / 2);

      svg.sprite {
        fill: $white;
        width: 30px;
        height: 30px;
      }
    }

    &--email {
      a {
        background-color: $contact-teaser-email-color;

        &:hover,
        &:active,
        &:focus  {
          background-color: darken($contact-teaser-email-color, 15%);
        }
      }
    }

    &--xing {
      a {
        background-color: $contact-teaser-xing-color;

        &:hover,
        &:active,
        &:focus {
          background-color: darken($contact-teaser-xing-color, 15%);
        }
      }
    }

    &--twitter {
      a {
        background-color: $contact-teaser-twitter-color;

        &:hover,
        &:active,
        &:focus  {
          background-color: darken($contact-teaser-twitter-color, 15%);
        }
      }
    }
  }
}

@include breakpoint(medium up) {
  .contact-teaser {
    &__image {
      margin-bottom: $contact-teaser-gutter;
    }
  }
}