.cc-window {
    background-color: rgba(255, 255, 255, .5) !important;

    .cc-link {
        display: none !important;
    }

    .cc-message {
        font-size: .9em !important;
    }

    + div {
        padding-bottom: 70px !important;
    }

    &.cc-invisible {
        + div {
            padding-bottom: 0 !important;
        }
    }
}
