/*
 * Cover
 */

.cover {
    padding: 2rem 1.5rem;

    .blockquote {
        margin: 2rem auto;
    }
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
}

@include media-breakpoint-up(md) {
    .cover {
        .blockquote {
            max-width: 50%;
        }
    }
}
