$footer-seperator: '\00b7' !default; // &middot;
$footer-gutter: (
  small: 15px,
  medium: 30px
) !default;

.footer {
  padding-top: map-get($footer-gutter, small);
  padding-bottom: map-get($footer-gutter, small);

  &__links {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: block;
      text-align: center;

      li {
        display: inline-block;

        &:not(:last-child) {
          &:after {
            content: $footer-seperator;
          }
        }
      }
    }
  }
}

@include breakpoint(medium up) {
  .footer {
    padding-top: map-get($footer-gutter, medium);
    padding-bottom: map-get($footer-gutter, medium);
  }
}