body {
  background-color: $white;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    text-transform: uppercase;
}

.reveal {
    a {
        padding: 0 .2rem;
        text-decoration: underline;

        &:hover {
            background-color: $primary-color;
            color: $white;
            text-decoration: none;
        }
    }
}

