$section-gutter: (
  small: map-get($grid-column-gutter, small) * 2,
  medium: map-get($grid-column-gutter, medium) * 2
) !default;

.section {
  padding-top: map-get($section-gutter, small);
  padding-bottom: map-get($section-gutter, small);

  &--gray {
    background-color: $light-gray;
  }
}

@include breakpoint(medium up) {
  .section {
    padding-top: map-get($section-gutter, medium);
    padding-bottom: map-get($section-gutter, medium);
  }
}