<div class="contact-teaser">
    <div class="contact-teaser__image">
        <img src="{{gravatar email=global.contact.email}}" alt="{{global.contact.name}}">
    </div>
    <div class="contact-teaser__name">
        <h1>{{global.contact.name}}</h1>
    </div>
    <div class="contact-teaser__function">
        <p class="lead">{{safeString global.contact.function}}</p>
    </div>
    <div class="contact-teaser__links">
        <ul>
            {{#each global.contact.links}}
                <li class="contact-teaser__link {{#if class}}contact-teaser__link--{{class}}{{/if}}">
                    <a href="{{url}}" class="button">
                        {{title}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</div>