<footer class="footer">
    <div class="grid-container">
        <div class="footer__links">
            <ul>
                <li>
                    <a href="#" data-open="revealImprint">Impressum</a>
                </li>
                <li>
                    <a href="#" data-open="revealPrivacy">Datenschutz</a>
                </li>
            </ul>
        </div>
    </div>
</footer>

<div class="reveal" id="revealImprint" data-reveal>
    {{> footer-imprint}}

    <button class="close-button" data-close aria-label="Schließen" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="reveal" id="revealPrivacy" data-reveal>
    {{> footer-privacy}}

    <button class="close-button" data-close aria-label="Schließen" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>