<h4>Digitalisierung</h4>

<p class="lead">
  Jeder spricht von "Internet of Things" und "Industrie 4.0" - entdecken Sie die Vorteile der Digitalisierung!
  Verlieren Sie keine Zeit mehr im Tagesgeschäft und sorgen damit für eine bessere Kundenzufriedenheit.
  Gemeinsam analysieren wir Ihre Prozesse und beleuchten unterschiedliche Ansätze. Alle hierzu nötigen Entwicklungen
  können von mir selbst, oder durch Agenturen und Systemhäusern aus meinem Netzwerk umgesetzt werden.
</p>

<h4>E-Commerce</h4>

<p class="lead">
  Sie sind bereits Inhaber eines Online-Shops und suchen einen kompetenten Ansprechpartner für die laufende
  Betreuung? Gerne kümmere ich mich um regelmäßige Updates und berate Sie über die sich ständig ändernde
  Rechtslage innerhalb der EU zum Thema E-Commerce, um Ihren Online-Shop "DSGVO-sicher" zu gestalten.
  Sollten Sie noch nicht über einen Online-Shop verfügen, jedoch darüber nachdenken, bin ich Ihnen gerne dabei
  behilflich die richtige Lösung hierfür zu finden.
</p>

<h4>Qualitätsversprechen</h4>

<p class="lead">
  Bei meiner täglichen Arbeit steht eine hohe Qualität stets an oberster Stelle. Dies ist aus mehreren Blickwinkeln
  betrachtet sehr wichtig. Logische Anpassungen Ihrer Prozesse müssen stets sauber durchdacht und konzipiert sein
  und sollten nie unüberlegt umgestellt werden. Selbes gilt auch für die technische Seite der Umsetzung - um auch
  weiterhin agil auf sich ändernde Anforderungen reagieren zu können, sollte hier stets auf eine modulare Umsetzung
  und eine ausreichende Dokumentation geachtet werden.
</p>

<h4>Agenturen</h4>

<p class="lead">
  Als Inhaber einer Agentur sind Sie auf der Suche nach weiterer Unterstützung im Projekt- oder Tagesgeschäft?
  Kontaktieren Sie mich gerne und profitieren Sie von einer stundenbasierten monatlichen Abrechnung zum
  verminderten Agenturen-Stundensatz. Hierbei erhalten Sie regelmäßig Reports über die verbuchten Arbeitszeiten
  - außerdem haben Sie die Möglichkeit Stundenpakete zu erwerben.
</p>
