$primary-color: #000;
$secondary-color: #d3d3d3;

$fullscreen-corner-length: 100px;
$fullscreen-corner-width: 2px;
$fullscreen-email-color: #F43638;
$fullscreen-twitter-color: #1da1f2;
$fullscreen-linkedin-color: rgb(45,118,176);
$fullscreen-xing-color: #009090;

$skills-gutter: 5px;
