$primary-color: #000;
$secondary-color: #d3d3d3;

$fullscreen-corner-length: 100px;
$fullscreen-corner-width: 2px;
$fullscreen-twitter-color: #1da1f2;
$fullscreen-xing-color: #009090;
$fullscreen-email-color: #F43638;

$skills-gutter: 5px;
