/*
 * Define Custom Variables
 */

$fullscreen-email-color: #F43638;
$fullscreen-twitter-color: #1da1f2;
$fullscreen-linkedin-color: rgb(45,118,176);
$fullscreen-xing-color: #009090;

$skills-gutter: 5px;

/*
 * Overwrite Bootstrap Variables
 */

$primary:       #fff;
$body-color:    #fff;
$body-bg:       #000;
